{% extends 'base.html' %}
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{% block title %}Ride Request{% endblock %}</title>
  <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>
<body>
  {% block content %}
  <h2>Welcome {{user.username}}!</h2>
  {{prompt}}
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Request a ride</button>
  </form>

  {% endblock %}
</body>
