{% extends 'base.html' %}
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{% block title %}Ride Viewing{% endblock %}</title>
  <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>
<body>
{% block content %}

<p> This is your {{ride.isSharing}} ride from {{ride.start}}
    to {{ride.destination}}, departs at {{ride.arrivalTime}}</p>

<p> This is your driver {{ride.ridecar.driverName}} </p>
        <p> Here is vehicle info: </p>
        <p> Car Type: {{ride.ridecar.carType}}</p>
        <p> Max Capacity: {{ride.ridecar.maxCapacity}}</p>
        <p> Plate Number: {{ride.ridecar.licensePlateNumber}}</p>
        {% if ride.isSharing == 'shareable' %}
            <p>This ride now contains {{ride.ridesharercount}} sharers. The main sharers are:</p>
            {% for sh in ride.ridesharer.all %}
                <p>{{sh.sharerName}}, with any of his/her party</p>
            {% endfor %}
        {% endif %}
        <p> 
            Here is your special request: {{ride.specialRequest}}
        </p><br>
        <p> Your ride is completed. Thanks for taking a journey with us! </p>

{% endblock %}
</body>