{% extends 'base.html' %}
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>
<body>
  {% block content %}
  <h2>Glad to have you here to start a new ride!</h2>

  <p>You want to start a new ride as a ...</p>
  <strong>
  <a href="{% url 'rideRequest' %}">Owner</a><br>
  <a href="{% url 'rideSearch' %}">Driver</a><br>
  <a href="{% url 'rideSharerSearch' %}">Sharer</a><br>
  </strong>
  

  {% endblock %}
</body>

